@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('img/18.jpg');
}

#logo{
    width: 40%;
    margin-bottom: 3rem;
}

#img{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}


h1{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: -webkit-linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}


.container{
    background-color: #fff;
    width: 70%;
}

ul{
    padding: 0 2rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.active-button{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    margin-bottom: 2rem;
}

.active-button li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

li span:nth-child(2){
    text-align: center;
}


.active{
    width: 190px;
}

.topicsCovered{
    display: flex;
    flex-direction: column;
}

.topicsCoveredHeading{
    padding-bottom: 1rem;
}


#progress{
    /* height: 0.6rem; */
    width:0%;
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
    position: absolute;
    top: 37%;
    left: 16%;
    transform: translateY(-50%);
    transition: width 1s ease;
}


.active-button li.active:not(:nth-child(5)) .round-btn::before{
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
}

.active-button li .round-btn{
    background-color: rgb(185, 180, 180);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: 1s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    
}



.active-button li.active .round-btn{
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
    transition: 1s ease;
    color: white;
}

.form-box{
    display: none;
}

.form-box.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error,#email-error{
    display: none;
}

.error.active,
#email-error.active,
#gender-error.active,
#age-error.active,
#date_of_report_error.active,
#type_error.active,
#radical_thinker_error.active,
#course-information-error.active,
#age-grade-error.active,
#no-of-error.active,
#session-frequency-error.active,
#duration-per-session-error.active,
#country-error.active,
#timezone-error.active,
#date_of_report_error.active,
#No_of_sessions_completed_error.active,
#missed_sessions_error.active,
#sessions_rescheduled_error.active,
#topics_covered_error.active,
#learning_outcomes_error.active,
#UNSDGs_knowledge_rating_error.active,
#radical_thinker_error.active,
#innovative_thinker_error.active,
#quality_obesession_error.active,
#hands_on_skills_error.active,
#big_dreamer_error.active,
#impactful_approach_error.active,
#strong_points_error.active,
#weak_points_error.active,
#other_suggestions_error.active,
#attendence_1_error.active,
#attendence_2_error.active,
#attendence_3_error.active,
.active_attendence,
#topicsCoveredCheckboxError.active
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: red;
}


.form-group{
    margin: 1rem;
}

#submit,#previous,#next{
    display: none;
}

#submit.active{
    display: flex;
    background:  rgba(158,60,126,1);
    color: white;
    width: fit-content;
}

#previous.active{
    display: flex;
    background: rgb(62,28,79);
    background: linear-gradient(90deg, rgba(62,28,79,1) 29%, rgba(158,60,126,1) 100%);
    color: white;
    width: fit-content;
}


#next.active{
    display: flex;
    background:  rgba(158,60,126,1);
    color: white;
    width: fit-content;
}
    
.button{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}
.error{
    color: red;
}

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.btn{
    margin: 0.5rem;
}

.form-content-box{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 755px) {
    .active-button li .round-btn{
        background-color: rgb(185, 180, 180);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transition: 1s ease;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
    }

    .active{
        width: 80px;
    }

    .active-button{
        padding-left: 0rem;
    }

    li span:nth-child(2){
        font-size: 0.4rem;
    }

    #img h1{
        font-size: 1.2rem;
    }

    .form-group{
        font-size: 0.5rem;
    }

    .form-group label{
        font-size: 0.5rem;

    }

    .form-group input{
        font-size: 0.5rem;
    }

    .form-group select{
        font-size: 0.5rem;
    }

    .form-control{
        font-size: 0.6rem;
    }

    #submit.active,#previous.active,#next.active,
    .accordion-body .btn-danger,#add_assesment_review,#remove_assesment_review{
        font-size: 0.5rem;
    }

    #add_attendence{
        font-size: 0.5rem;
    }

    .accordion-header .accordion-button{
        padding:0.3rem;
        font-size: 0.5rem;
    }
  }

  /* loader */

  #loader{
      display: none;
  }

  #loader{
    z-index: 2;
    background: grey;
    height :120vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0,0.75);
}

#cupcake{
    flex-direction:row;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    -mos-flex-direction:row;
    -o-flex-direction:row;
    justify-content:center;
    -webkit-justify-content:center;
    -ms-justify-content:center;
    height:100vh;
    width:100%;
    background-color:transparent;

    }
    
    .letter{
        font-size:68px;
        color:rgb(196, 191, 191);
        font-family:tahoma;
    }
    
    .box{
        display: box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    
    .cupcakeCircle, .cupcakeInner, .cupcakeCore{
         border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
    }
    
    .cupcake, .letter, .cupcakeCircle, .cupcakeInner, .cupcakeCore{
        flex:none;
        -webkit-flex:none;
        -moz-flex:none;
        -ms-flex:none;
        -o-flex:none;
    }
    
    .letter, .cupcakeCircle{
        align-self:center;
        -webkit-align-self:center;
        -moz-align-self:center;
        -o-align-self:center;
        -ms-align-self:center;
    }
    .cupcakeCircle{
        align-items:center;
        -ms-align-items:center;
        justify-content:center;
        -ms-justify-content:center;
        height:100px;
        width:100px;
        background-color:#222;
    }
    
    .cupcakeInner{
        align-self:center;
        -ms-align-self:center;
        justify-content:center;
        -ms-justify-content:center;
        height:25%;
        width:25%;
        background-color:#9221fc;
        -webkit-animation-name:cupcakeAnimate;
        animation-name: cupcakeAnimate;
        -webkit-animation-duration:500ms;
        animation-duration: 500ms;
        -webkit-animation-direction:alternate;
        animation-direction: alternate;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count: infinite;
    }
    .cupcakeCore{
        align-self:center;
        -ms-align-self:center;
        height:25%;
        width:25%;
        background-color:#222;
        -webkit-animation-name:coreAnimate;
        animation-name:coreAnimate ;
        -webkit-animation-duration:1s;
        animation-duration: 1s;
        -webkit-animation-direction:alternate;
        animation-direction: alternate;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes cupcakeAnimate{
            to{ height:90%; width:90%; }
    }
    @keyframes cupcakeAnimate{
        to{ height:90%; width:90%; }
    }
    
    @-webkit-keyframes coreAnimate{
        to{ height:90%; width:90%; }
    }
    @keyframes coreAnimate{
        to{ height:90%; width:90%; }
    }